{
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "plugins": ["@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "callback-return": ["error", ["done", "proceed", "next", "onwards", "callback", "cb"]],
    "camelcase": "off",
    "comma-style": ["warn", "last"],
    "curly": "off",
    "eqeqeq": ["error", "always"],
    "eol-last": ["warn"],
    "handle-callback-err": ["error"],
    "indent": "off",
    "linebreak-style": "off",
    "no-dupe-keys": ["error"],
    "no-duplicate-case": ["error"],
    "no-extra-semi": ["warn"],
    "no-labels": ["error"],
    "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
    "no-redeclare": ["warn"],
    "no-return-assign": ["error", "always"],
    "no-sequences": ["error"],
    "no-trailing-spaces": ["warn"],
    "no-undef": ["error"],
    "no-unexpected-multiline": ["warn"],
    "no-unreachable": ["warn"],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "caughtErrors": "all",
        "caughtErrorsIgnorePattern": "^unused($|[A-Z].*$)",
        "argsIgnorePattern": "^unused($|[A-Z].*$)",
        "varsIgnorePattern": "^unused($|[A-Z].*$)"
      }
    ],
    "no-use-before-define": ["error", { "functions": false }],
    "one-var": ["warn", "never"],
    "prefer-arrow-callback": ["warn", { "allowNamedFunctions": true }],
    "arrow-parens": ["error", "as-needed"],
    "quotes": ["warn", "single", { "avoidEscape": false, "allowTemplateLiterals": true }],
    "semi": ["error", "always"],
    "semi-spacing": ["warn", { "before": false, "after": true }],
    "semi-style": ["warn", "last"]
  }
}
